@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Gruppo&display=swap');

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
}

main{
    background-color: hsl(30, 38%, 92%);
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.493);
    border-radius: 0 10px 10px 0 ;
    width: 300px;
    height: 450px;
}

#perfume{
    width: 300px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.493);
    border-radius: 10px 0  0 10px;

}

#preco{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: hsl(158, 36%, 37%);
}

#antigo{
    font-size: x-small;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: line-through;
    color: black;
}

#titulo{
    text-align: start;
}

#nome{
    text-align: start;
    padding: 20px;
}


p{
    text-align: start;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color:  hsl(158, 36%, 37%);
    border-radius: 10px;
    border: 2px;
    width: 150px;
    color: white;
}
button:hover{
    background-color: hsl(158, 68%, 47%) ;
}

#carrinho{
    padding-inline-start: 15px;
    display: flex;
    justify-items: center;
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }